# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [80]:
import pandas as pd
import numpy as np
import math

# Seu código aqui


ano = [1900,1920,1940,1960,1980,2000,2020]
anomaly = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

#### 2) Coloque os anos nos índices conforme a tabela.

In [82]:

# seu código aqui
historical_anomalies = pd.Series(data=anomaly, index=ano)
print(historical_anomalies)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

Neste momento, unimos as duas listas que criamos nos blocos anteriores, e criamos uma Serie do pandas para representar e indexar estes dados, atribuindo a cada ano a sua anomalia.

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [85]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

hist_anomaly = pd.Series(data=dic_temperaturas.values(), index=dic_temperaturas.keys())
print(hist_anomaly)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

Optei por fazer do jeito que meu "instinto" mandou, e fiz deste modo! No entanto, chequei a aula para ver como foi feito, e aparentemente, teria funcionado simplesmente fazendo hist_anomaly = pd.Series(dic_temperaturas), e já teria sido feito deste jeito automáticamente... então deixo aqui para registro, que tomei conhecimento de que pode ser feito deste modo também, inclusive, priorizarei ele daqui pra frente... deixo registrado em código abaixo:

In [87]:
hist_anomaly = None
hist_anomaly = pd.Series(dic_temperaturas)
print(hist_anomaly)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [89]:
arr = np.random.normal(100, 10, (20,3))

df_array = pd.DataFrame(arr)
print(df_array)

# seu código aqui

             0           1           2
0    96.607157  115.463481   93.514159
1    75.408422   98.581140  106.688382
2   111.079089   86.641599   99.857185
3    92.143934   90.698926  109.673064
4   112.433098  102.480593  104.294106
5   110.131998  105.359602   91.019590
6    94.081851  108.621800   89.054968
7    82.109564  109.629449  111.598365
8    85.193789  109.127228  103.862510
9    97.013240  101.392994   98.413496
10   80.304231   84.304065   98.467383
11  113.700056   97.855612   97.339035
12  101.562813  102.894605  104.775192
13   86.336627   96.411879   75.376371
14   94.488371  112.430074  102.247767
15  111.025762   93.523562  101.299561
16  109.048303  111.102279   89.937009
17  113.246636  116.681602   87.871627
18  115.707378   98.644640   89.229637
19  112.164118  108.428109   87.419469

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

Analisei a vídeo aula, e o único método que encontrei de fazer isto, foi criando um dicionário para então criar um DataFrame usando este dicionário. A princípio, achar um método de simplesmente criar uma indexação de 1 a 20 para substituir a de 0 a 19, mas não consegui... no entando, achei que seria muito "fazer trabalho de idiota" criar um dicionário chave à chave, então pesquisei como renomear indices e colunas de um DataFrame. Assim sendo, espero que não seja um problema, e segue a solução:

In [92]:
#seu código aqui
lista_index = list(range(1,21))
df_array = df_array.rename(columns={0:'x1',1:'x2',2:'x3'})
df_array.index = lista_index
print(df_array)

            x1          x2          x3
1    96.607157  115.463481   93.514159
2    75.408422   98.581140  106.688382
3   111.079089   86.641599   99.857185
4    92.143934   90.698926  109.673064
5   112.433098  102.480593  104.294106
6   110.131998  105.359602   91.019590
7    94.081851  108.621800   89.054968
8    82.109564  109.629449  111.598365
9    85.193789  109.127228  103.862510
10   97.013240  101.392994   98.413496
11   80.304231   84.304065   98.467383
12  113.700056   97.855612   97.339035
13  101.562813  102.894605  104.775192
14   86.336627   96.411879   75.376371
15   94.488371  112.430074  102.247767
16  111.025762   93.523562  101.299561
17  109.048303  111.102279   89.937009
18  113.246636  116.681602   87.871627
19  115.707378   98.644640   89.229637
20  112.164118  108.428109   87.419469

Demorei um pouco para entender o que eu de fato estava fazendo, mas creio que o tempo foi muito melhor empregado do que teria sido simplesmente copiando os valores da tabela... e realmente tenho fé que lembrarei este método no futuro...

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [95]:
# seu código aqui
df_array['media'] = (df_array['x1']+df_array['x2']+df_array['x3'])/3
print(df_array)

            x1          x2          x3       media
1    96.607157  115.463481   93.514159  101.861599
2    75.408422   98.581140  106.688382   93.559314
3   111.079089   86.641599   99.857185   99.192625
4    92.143934   90.698926  109.673064   97.505308
5   112.433098  102.480593  104.294106  106.402599
6   110.131998  105.359602   91.019590  102.170397
7    94.081851  108.621800   89.054968   97.252873
8    82.109564  109.629449  111.598365  101.112459
9    85.193789  109.127228  103.862510   99.394509
10   97.013240  101.392994   98.413496   98.939910
11   80.304231   84.304065   98.467383   87.691893
12  113.700056   97.855612   97.339035  102.964901
13  101.562813  102.894605  104.775192  103.077536
14   86.336627   96.411879   75.376371   86.041625
15   94.488371  112.430074  102.247767  103.055404
16  111.025762   93.523562  101.299561  101.949628
17  109.048303  111.102279   89.937009  103.362530
18  113.246636  116.681602   87.871627  105.933288
19  115.707378   98.644640   89.229637  101.193885
20  112.164118  108.428109   87.419469  102.670565

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [116]:
# seu código aqui
print(math.e)

print(math.log(math.e))

df_array['log_med'] = df_array['media'].apply(math.log)

print(df_array)

2.718281828459045
1.0
            x1          x2          x3       media   log_med
1    96.607157  115.463481   93.514159  101.861599  4.623615
2    75.408422   98.581140  106.688382   93.559314  4.538596
3   111.079089   86.641599   99.857185   99.192625  4.597064
4    92.143934   90.698926  109.673064   97.505308  4.579907
5   112.433098  102.480593  104.294106  106.402599  4.667230
6   110.131998  105.359602   91.019590  102.170397  4.626642
7    94.081851  108.621800   89.054968   97.252873  4.577315
8    82.109564  109.629449  111.598365  101.112459  4.616233
9    85.193789  109.127228  103.862510   99.394509  4.599097
10   97.013240  101.392994   98.413496   98.939910  4.594513
11   80.304231   84.304065   98.467383   87.691893  4.473829
12  113.700056   97.855612   97.339035  102.964901  4.634388
13  101.562813  102.894605  104.775192  103.077536  4.635481
14   86.336627   96.411879   75.376371   86.041625  4.454831
15   94.488371  112.430074  102.247767  103.055404  4.635267
16  111.025762   93.523562  101.299561  101.949628  4.624479
17  109.048303  111.102279   89.937009  103.362530  4.638243
18  113.246636  116.681602   87.871627  105.933288  4.662810
19  115.707378   98.644640   89.229637  101.193885  4.617038
20  112.164118  108.428109   87.419469  102.670565  4.631525

Procurei no chat gpt como calcular logaritimo natural no python e ele me explicou que era só usar a função log. Eu fiquei em dúvida se era isso mesmo, pois log, frequentemente se refere ao logaritimo em base 10, e não em base neperiana (natural) então estas linhas foram para checkar... de fato, estava correto! Foi necessário usar também a função apply...