# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [70]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [72]:
sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

# Tarefa 1

### 1. Idade media das mães e dos pais por município (coluna munResNome)

In [171]:
sinasc_raw_idademediamae = sinasc_raw.groupby('munResNome')['IDADEMAE'].apply(np.mean)
print(sinasc_raw_idademediamae)

# Este trecho calcula a idade média das mães, por município de residência...

munResNome
Alta Floresta D'Oeste        25.991826
Alto Alegre dos Parecis      24.844156
Alto Paraíso                 24.960177
Alvorada D'Oeste             25.770732
Ariquemes                    25.607866
Buritis                      25.559177
Cabixi                       26.037500
Cacaulândia                  25.546667
Cacoal                       26.890102
Campo Novo de Rondônia       24.825301
Candeias do Jamari           25.243323
Castanheiras                 27.281250
Cerejeiras                   27.240506
Chupinguaia                  25.333333
Colorado do Oeste            27.602804
Corumbiara                   24.716535
Costa Marques                24.412017
Cujubim                      24.482927
Espigão D'Oeste              26.093333
Governador Jorge Teixeira    24.401786
Guajará-Mirim                25.462228
Itapuã do Oeste              26.064220
Jaru                         25.982974
Ji-Paraná                    26.361137
Machadinho D'Oeste           25.480000
Ministro Andreazza           27.904762
Mirante da Serra             26.304878
Monte Negro                  25.648241
Município ignorado - RO      24.000000
Nova Brasilândia D'Oeste     26.222222
Nova Mamoré                  25.326389
Nova União                   26.894231
Novo Horizonte do Oeste      26.938776
Ouro Preto do Oeste          26.375594
Parecis                      26.454545
Pimenta Bueno                25.199675
Pimenteiras do Oeste         25.075000
Porto Velho                  26.312670
Presidente Médici            25.796053
Primavera de Rondônia        27.023256
Rio Crespo                   26.660000
Rolim de Moura               26.600863
Santa Luzia D'Oeste          26.121212
Seringueiras                 24.910714
São Felipe D'Oeste           26.481481
São Francisco do Guaporé     25.660066
São Miguel do Guaporé        25.926346
Teixeirópolis                26.031250
Theobroma                    25.536082
Urupá                        26.688235
Vale do Anari                26.096774
Vale do Paraíso              25.679012
Vilhena                      26.433962
Name: IDADEMAE, dtype: float64

In [183]:
sinasc_raw_idademediapai = sinasc_raw.groupby('munResNome')['IDADEPAI'].apply(np.mean)

print(sinasc_raw_idademediapai)

# Este trecho calcula a idade media do pai...

munResNome
Alta Floresta D'Oeste        29.548701
Alto Alegre dos Parecis      29.179104
Alto Paraíso                 28.833333
Alvorada D'Oeste             30.757282
Ariquemes                    32.466667
Buritis                      30.812500
Cabixi                       34.333333
Cacaulândia                  36.333333
Cacoal                       30.931854
Campo Novo de Rondônia       30.500000
Candeias do Jamari           29.894737
Castanheiras                 30.392857
Cerejeiras                   31.652778
Chupinguaia                  29.629630
Colorado do Oeste            34.354839
Corumbiara                   32.470588
Costa Marques                30.613636
Cujubim                      31.400000
Espigão D'Oeste              31.198113
Governador Jorge Teixeira    29.222222
Guajará-Mirim                30.470588
Itapuã do Oeste              42.500000
Jaru                         32.197183
Ji-Paraná                    31.132239
Machadinho D'Oeste           31.326923
Ministro Andreazza           33.849315
Mirante da Serra             32.154762
Monte Negro                  34.678571
Município ignorado - RO      22.000000
Nova Brasilândia D'Oeste     30.520833
Nova Mamoré                  31.692308
Nova União                   31.371429
Novo Horizonte do Oeste      31.588235
Ouro Preto do Oeste          31.233244
Parecis                      32.473684
Pimenta Bueno                29.745174
Pimenteiras do Oeste         35.600000
Porto Velho                  32.352679
Presidente Médici            30.150754
Primavera de Rondônia        31.888889
Rio Crespo                   28.000000
Rolim de Moura               30.360479
Santa Luzia D'Oeste          30.703297
Seringueiras                 30.500000
São Felipe D'Oeste           31.395833
São Francisco do Guaporé     31.638889
São Miguel do Guaporé        32.666667
Teixeirópolis                31.500000
Theobroma                    30.083333
Urupá                        31.008929
Vale do Anari                34.000000
Vale do Paraíso              29.976744
Vilhena                      34.152941
Name: IDADEPAI, dtype: float64

### 2. Peso médio dos bebes por sexo que nasceram no dia do seu aniversário por faixas de escolaridade mae
Ex: Você, aluna(o), nasceu no dia 10/01, então você precisa filtrar o conjunto de dados nessa data e calcular o peso médio dos bebês de cada sexo por faixa de escolaridade da mãe.

In [ ]:
sinasc_raw['DTNASC'].head()

In [181]:
bool_aniversario = sinasc_raw['DTNASC'].apply(lambda x: x[5:10]) == '06-28'
sinasc_aniversario = sinasc_raw[bool_aniversario]
sinasc_aniversario_peso = sinasc_aniversario.groupby('DTNASC')['PESO'].apply(np.mean)
print(sinasc_aniversario_peso)

# Este trecho de código calcula qual o peso médio das crianças nascidas no dia do meu aniversário, isto é, 28 de junho.

DTNASC
2019-06-28    3212.915663
Name: PESO, dtype: float64

### 3. Qual o municipio que nasceu menos bebe em 2019?
    - qual a idade media, maxima, minima das maes nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [ ]:
print(sinasc_raw.columns)
sinasc_raw['munResNome'].value_counts()

# ESte trecho enumera em ordem decrescentes quais municípios aparecem mais vezes no dataframe, ou seja, em qual deles nasceram mais bebes. Oficialmente
# o minimo do nosso dataframe é "Município Ignorado", mas, como este não é um município em si, e sim um código para vacância, vamos considerar o
# penúltimo. Que é: Castanheiras.

sinasc_Castanheiras_bool = sinasc_raw['munResNome'] == 'Castanheiras'
sinasc_Castanheiras = sinasc_raw[sinasc_Castanheiras_bool]
idade_media_maeCast = sinasc_Castanheiras.groupby('munResNome')['IDADEMAE'].apply(np.mean)

print(f'Idade media das mães em castanheiras é: {idade_media_maeCast.values}')
# Este trecho calcula a idade media das maes no município de castanheiras.

idade_min_maeCast = sinasc_Castanheiras.groupby('munResNome')['IDADEMAE'].apply(min)

print(f'A idade minima que uma mãe tinha em castanheiras era: {idade_min_maeCast.values} ')

idade_max_maeCast = sinasc_Castanheiras.groupby('munResNome')['IDADEMAE'].apply(max)

print(f'A idade máxima das mães em castanheiras era: {idade_max_maeCast.values}')



idade_minima_paiCast = sinasc_Castanheiras.groupby('munResNome')['IDADEPAI'].apply(min)

print(f'A idade mínima de um pai em castanheiras foi {idade_minima_paiCast.values}')

idade_media_paiCast = sinasc_Castanheiras.groupby('munResNome')['IDADEPAI'].apply(np.mean)

idade_max_paiCast = sinasc_Castanheiras.groupby('munResNome')['IDADEMAE'].apply(max)

print(f'A idade maxima de um pai em castanheiras foi {idade_max_paiCast.values}')
# Este trecho calcula a idade media das maes no município de castanheiras

print(idade_media_maeCast)
print(idade_media_paiCast)

**Acima, podemos ver que a idade mínima de um pai na cidade de "Castanheiras" aparece como NaN, o que provavelmente se deve ao fato de o NAN estar sendo considerado como 0, ou até menor que zero. Por isso, para corrigir este problema, vamos realizar um drop NaN nesta coluna do nosso dataframe. Teremos então:**

In [ ]:
sinasc_Castanheiras.dropna(subset=['IDADEPAI'], inplace=True)
idade_minPai = sinasc_Castanheiras.groupby('munResNome')['IDADEPAI'].apply(min)
print(idade_minPai)

### 4. Qual o municipio que nasceu mais bebe no mês de março?
    - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

Aqui, precisaremos mapear os bebês que nasceram no mês de março, para, então, aplicar um value_counts nele, e ver qual município aparece mais vezes! Se dermos um print com head na variável data de nascimento, teremos:

In [ ]:
sinasc_raw['DTNASC'].head()

Se observarmos, o dígito da string que contém o nosso valioso mês de nascimento são os dígitos 5 e 6. Portanto, vamos precisar de um slice do 5 ao , oque podemos fazer usando a função lambda. Vejamos:

In [124]:
bool_marco = (sinasc_raw['DTNASC'].apply(lambda x: x[5:7]) == '03')
sinasc_marco = sinasc_raw[bool_marco]
sinasc_marco['munResNome'].value_counts()

# portanto, vemos que o município que mais nasceram bebês no mês de março foi a cidade de Porto Vewlho! Com 744 bebês.

# a segunda parte do exercício requer que tratemos os dados apenas deste município. Então, vamos criar um novo dataframe que conhtenha apenas os dados
# de porto velho.

bool_portoVelho = (sinasc_raw['munResNome']=='Porto Velho')
sinasc_portoVelho = sinasc_raw[bool_portoVelho]

#Agora, podemos trabalhar no nosso dataframe para terminar o exercício, calculando: Qual a quantidade de filhos vivos max, media e min:

qtdvivomedia = sinasc_portoVelho.groupby('munResNome')['QTDFILVIVO'].apply(np.mean)
print(f'A quantidade de filhos vivos é:{qtdvivomedia.values}')
qtdvivomax = sinasc_portoVelho.groupby('munResNome')['QTDFILVIVO'].apply(max)
print(f'A quantidade máxima de filhos vivos é: {qtdvivomax.values}')

# Tivemos novamente o mesmo problema com o NaN aparecendo como valor máximo ou mínimo. Vamos limpar estas variáveis para evitar que os dados missing
# se coloquem entre nós e nossa análise novamente.

sinasc_portoVelho.dropna(subset=['QTDFILVIVO', 'IDADEPAI', 'IDADEMAE'], inplace=True)

sinasc_portoVelho.head()

# Agora, repitamos a mesma linha de código que antes resultou em um missing como retorno:
qtdvivomax = sinasc_portoVelho.groupby('munResNome')['QTDFILVIVO'].apply(max)
print(f'A quantidade máxima de filhos vivos é: {qtdvivomax.values}')

#Vemos que, de fato, nosso problema foi resolvido. Continuemos:

qtdvivomin = sinasc_portoVelho.groupby('munResNome')['QTDFILVIVO'].apply(min)
print(f'A quantidade mínima de filhos vivos é {qtdvivomin.values}')

# Este resultado (0) já era esperado, visto que era pouquíssimo improvável que não houvesse entre todos os nascidos em porto velho, um único primeiro
# filho.

A quantidade de filhos vivos é:[1.16723596]
A quantidade máxima de filhos vivos é: [nan]
A quantidade máxima de filhos vivos é: [7.]
A quantidade mínima de filhos vivos é [0.]

C:\Users\Matheus\AppData\Local\Temp\ipykernel_15604\251452722.py:17: FutureWarning: The provided callable <built-in function max> is currently using np.maximum.reduce. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string np.maximum.reduce instead.
  qtdvivomax = sinasc_portoVelho.groupby('munResNome')['QTDFILVIVO'].apply(max)
C:\Users\Matheus\AppData\Local\Temp\ipykernel_15604\251452722.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinasc_portoVelho.dropna(subset=['QTDFILVIVO', 'IDADEPAI', 'IDADEMAE'], inplace=True)
C:\Users\Matheus\AppData\Local\Temp\ipykernel_15604\251452722.py:28: FutureWarning: The provided callable <built-in function max> is currently using np.maximum.reduce. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string np.maximum.reduce instead.
  qtdvivomax = sinasc_portoVelho.groupby('munResNome')['QTDFILVIVO'].apply(max)
C:\Users\Matheus\AppData\Local\Temp\ipykernel_15604\251452722.py:33: FutureWarning: The provided callable <built-in function min> is currently using np.minimum.reduce. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string np.minimum.reduce instead.
  qtdvivomin = sinasc_portoVelho.groupby('munResNome')['QTDFILVIVO'].apply(min)

Vamos agora analisar a cidade de Porto Velho quanto às idades dos pais. A começar pelas idades das mães:

In [167]:
resultados = sinasc_portoVelho.agg({'IDADEMAE': 'max', 'IDADEPAI': 'max'})

maxmae, maxpai = resultados[['IDADEMAE','IDADEPAI']]
print(maxmae)
print(maxpai)

resultados = sinasc_portoVelho.agg({'IDADEMAE': 'min', 'IDADEPAI': 'min'})

minmae, minpai = resultados[['IDADEMAE', 'IDADEPAI']]
print(minmae)
print(minpai)

resultados = sinasc_portoVelho.agg({'IDADEMAE':'mean', 'IDADEPAI': 'mean'})

mediamae, mediapai = resultados[['IDADEMAE','IDADEPAI']]
print(mediamae)
print(mediapai)

44.0
65.0
12.0
16.0
28.601045296167246
32.653310104529616

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados. Algo que você julgue relevante e novo pra você.

Exemplo:
- Ah, descobri que a idade mediana das mulheres que deram a luz no ano de 2019 dos municipios x é maior que y.

De todos os insights que tive ao manipular os dados, tanto nesta edição quanto na anterior, a que mais me chamou a atenção ou me incomodou, foi a idade mínima das mães, em que, neste, em que nos restringimos à idade mínima das mães de uma única cidade, obtivemos a idade mínima 12, e na anterior, obtivemos 11, se não me engano. Um sinal preocupante, visto que, perante a lei brasileira, com ou sem consenso, com ou sem aprovação dos pais, o sexo quando praticado por menores de 14 se enquadra como estupro de vulnerável, o que, no entanto, como sabem bem quase todos os brasileiros, é uma lei completamente ignorada tanto pelos cidadãos quanto pelo poder público, onde a normalização da pedofilia e objetificação sexual de menores avança indiscriminadamente há décadas.

In [ ]:
sinasc_raw.dtypes

In [ ]:
sinasc_raw.select_dtypes(exclude=['int64','float64'])

In [ ]:
sinasc_raw.columns